<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Word List</title>
  <link rel="stylesheet" href="<%= url('/style.css') %>">
</head>
<body>
  <%= yield %>
</body>
</html>
